@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/rpw5lfi.css");
@import "./variables";
body {
  background: rgb(224, 224, 219);
  color: $black;
  font-family: "degular", sans-serif;
}

main {
  a {
    color: inherit;
    text-decoration: none;
  }
}
